<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NARRATIA</title>
   <!-- <link rel="stylesheet" href="static/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</head>
<body>
    <header>
        <nav>
            <div id="logo"><h3>NARRATIA</h3></div>
            <ul class="container">
                <li><i class="fa-solid fa-house" style="color: #929292;"></i><a href="#"> Home</a></li>
                <li><i class="fa-solid fa-book-open-reader" style="color: #929292;"></i><a href="#"> library</a></li>
                <li><i class="fa-solid fa-child-reaching" style="color: #929292;"></i><a href="#"> BookPosts</a></li>
                <li><i class="fa-solid fa-trophy" style="color: #929292;"></i><a href="#"> Contests</a></li>
                <li><i class="fa-solid fa-pen-to-square" style="color: #929292;"></i><a href="#"> Summaries</a></li>
                <li><i class="fa-solid fa-star" style="color: #929292;"></i><a href="#"> Reviews</a></li>
                <li><i class="fa-solid fa-bookmark" style="color: #929292;"></i><a href="#"> Saved</a></li>
                <li><i class="fa-solid fa-gear" style="color: #929292;"></i><a href="#"> settings</a></li>
                <!-- color: #593652 -->
                 <!-- gray!!  #a0a0a0 -->
            </ul>
        </nav>
    </header>
    <section id="main">
        <h1 id="welcome">Welcome to<br><span>NARRATIA</span></h1>
        <div>
         <p>In a world full of words Narratia is your elegant sanctuary for living stories,</p>
         <p> sharing thoughts and connecting through books.</p>
         <p>It’s a space crafted for readers, writers and dreamers to explore ideas,</p>
         <p>create freely and grow a vibrant book-loving community.</p>
          <div id="join"><a href="/signup.html">Join</a></div>
        </div>
       <!--  {%if message %}
            <h1>{{message}}</h1>
        {% endif %}  -->

        {%with msg=get_flashed_messages()%}
         {%if msg%}
               <p>{{msg[0]}}</p>
          {%endif%}
        {% endwith %}

        <h1 id="doing"><i class="fa-solid fa-book-open"></i> What can you do here?</h1>
        <div class="cards">
            <div><h3>Discover a curated Library of free novels and stories to read online</h3></div>
            <div><h3>Share reflections, quotes and short writings in the BookPosts section</h3></div>
            <div><h3>Write and explore book summaries to learn faster and inspire others</h3></div>
            <div id="div4"><h3>Rate books and read diverse Reviews from fellow readers</h3></div>
            <div><h3>Join exciting Contests in writing and storytelling to earn points and recognition</h3></div>
            <div><h3>Save your favorite content to build a personalized reading space</h3></div>
        </div>
    </section>
    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
</body>
</html>

