<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">    
    <link rel="stylesheet" href="{{url_for('static',filename='css/library.css')}}">
</head>
<body>
        <header>
        <nav>
            <div id="logo"><h3>NARRATIA</h3></div>
            <ul class="container">
                <li><i class="fa-solid fa-house" style="color: #929292;"></i><a href="{{url_for('main')}}"> Home</a></li>
                <li><i class="fa-solid fa-book-open-reader" style="color: #929292;"></i><a href="#"> library</a></li>
                <li><i class="fa-solid fa-child-reaching" style="color: #929292;"></i><a href="{{url_for('blogs.blogs')}}"> blogs</a></li>
                <!-- <li><i class="fa-solid fa-trophy" style="color: #929292;"></i><a href="#"> Contests</a></li>
                <li><i class="fa-solid fa-pen-to-square" style="color: #929292;"></i><a href="#"> Summaries</a></li>
                <li><i class="fa-solid fa-star" style="color: #929292;"></i><a href="#"> Reviews</a></li>
                <li><i class="fa-solid fa-bookmark" style="color: #929292;"></i><a href="#"> Saved</a></li>
                <li><i class="fa-solid fa-gear" style="color: #929292;"></i><a href="#"> settings</a></li> -->
                <!-- color: #593652 -->
                 <!-- gray!!  #a0a0a0 -->
            </ul>
        </nav>
    </header>
    <div class="main-div">
        <div class="item1"><a target="_blank" href="static/css/books/pdf1.pdf"><img src="static/css/books/img1.png"></a></div>
        <div class="item2"><a target="_blank" href="static/css/books/pdf2.pdf"><img src="static/css/books/img2.png"></a></div>
        <div class="item3" ><a target="_blank" href="static/css/books/pdf3.pdf"><img src="static/css/books/img3.png"></a></div>
        <div class="item4"><a target="_blank" href="static/css/books/pdf4.pdf"><img src="static/css/books/img4.png" ></a></div>
        <div class="item5"><a target="_blank" href="static/css/books/pdf5.pdf"><img src="static/css/books/img5.png"></a></div>
        <div class="item6"> <a target="_blank" href="static/css/books/pdf6.pdf"><img src="static/css/books/img6.png"></a></div>
        <div class="item7"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/books/img7.png"></a></div>
        <div class="item8"><a target="_blank" href="static/css/books/pdf8.pdf"><img src="static/css/books/img8.png"></a></div>
        <!-- <div class="item9"><a target="_blank" href="static/css/books/nn.pdf"><img src="static/css/books/img9.png"></a></div> -->
        
        <div class="item10"><a target="_blank" href="static/css/books/pdff1.pdf"><img src="static/css/books/image1.png"></a></div>
        <!-- <div class="item11"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/books/img7.png"></a></div>
        <div class="item12"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/books/img7.png"></a></div>
        <div class="item13"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/books/img7.png"></a></div>
        <div class="item14"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/books/img7.png"></a></div>
        <div class="item15"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/books/img7.png"></a></div>
        <div class="item16"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/item1.png"></a></div>
        <div class="item17"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/item1.png"></a></div>
        <div class="item18"><a target="_blank" href="static/css/books/pdf7.pdf"><img src="static/css/item1.png"></a></div> -->
    </div>
</body>
</html>